<h1>Congratulation {name},<br>your MyMail Email Newsletter Plugin is ready!</h1>
<table width="552" cellpadding="0" cellspacing="0"><tbody><tr><td height="12">&nbsp;</td></tr></tbody></table>
<table width="552" cellpadding="0" cellspacing="0" style="border-top:1px solid #E8E8E8"><tbody><tr><td height="11">&nbsp;</td></tr></tbody></table>
<h2>Start creating <a href="{baseurl}edit.php?post_type=newsletter">your first campaign</a> or <a href="{baseurl}edit.php?post_type=newsletter&amp;page=mymail_subscriber-manage">import new subscribers</a>. Before you send your first campaign please check out the <a href="{baseurl}options-general.php?page=newsletter-settings">settings page</a> as well!</h2>
<table width="552" cellpadding="0" cellspacing="0"><tbody><tr><td height="12">&nbsp;</td></tr></tbody></table>
<table width="552" cellpadding="0" cellspacing="0" style="border-top:1px solid #E8E8E8"><tbody><tr><td height="11">&nbsp;</td></tr></tbody></table>
<h3><div>Check out the templates!</h3>
<div>MyMail Newsletter Plugin comes with <a href="{baseurl}edit.php?post_type=newsletter&amp;page=mymail_templates">a template</a> but there are others available:</div>
<table width="552" cellpadding="0" cellspacing="0"><tbody><tr><td height="12">&nbsp;</td></tr></tbody></table>
<table width="552" cellpadding="0" cellspacing="0" style="border-top:1px solid #E8E8E8"><tbody><tr><td height="11">&nbsp;</td></tr></tbody></table>
<h2>Linus</h2>
<a href="http://rxa.li/linus?&amp;utm_source=MyMail+Welcome+Mail"><img src="http://static.revaxarts-themes.com/preview/linus/preview.jpg" width="552"></a>
<table width="552" cellpadding="0" cellspacing="0"><tbody><tr><td height="12">&nbsp;</td></tr></tbody></table>
<table width="552" cellpadding="0" cellspacing="0" style="border-top:1px solid #E8E8E8"><tbody><tr><td height="11">&nbsp;</td></tr></tbody></table>
<h2>Metro</h2>
<a href="http://rxa.li/metro?&amp;utm_source=MyMail+Welcome+Mail"><img src="http://static.revaxarts-themes.com/preview/metro/preview.jpg" width="552"></a>
<table width="552" cellpadding="0" cellspacing="0"><tbody><tr><td height="12">&nbsp;</td></tr></tbody></table>
<table width="552" cellpadding="0" cellspacing="0" style="border-top:1px solid #E8E8E8"><tbody><tr><td height="11">&nbsp;</td></tr></tbody></table>
<h2>My Business</h2>
<a href="http://rxa.li/business?&amp;utm_source=MyMail+Welcome+Mail"><img src="http://static.revaxarts-themes.com/preview/business/preview.jpg" width="552"></a>
<table width="552" cellpadding="0" cellspacing="0"><tbody><tr><td height="12">&nbsp;</td></tr></tbody></table>
<table width="552" cellpadding="0" cellspacing="0" style="border-top:1px solid #E8E8E8"><tbody><tr><td height="11">&nbsp;</td></tr></tbody></table>
<h2>Loose Leaf</h2>
<a href="http://rxa.li/looseleaf?&amp;utm_source=MyMail+Welcome+Mail"><img src="http://static.revaxarts-themes.com/preview/looseleaf/preview.jpg" width="552"></a>
<table width="552" cellpadding="0" cellspacing="0"><tbody><tr><td height="12">&nbsp;</td></tr></tbody></table>
<table width="552" cellpadding="0" cellspacing="0" style="border-top:1px solid #E8E8E8"><tbody><tr><td height="11">&nbsp;</td></tr></tbody></table>
<h2>Market</h2>
<a href="http://rxa.li/market?&amp;utm_source=MyMail+Welcome+Mail"><img src="http://static.revaxarts-themes.com/preview/market/preview.jpg" width="552"></a>
<table width="552" cellpadding="0" cellspacing="0"><tbody><tr><td height="12">&nbsp;</td></tr></tbody></table>
<table width="552" cellpadding="0" cellspacing="0" style="border-top:1px solid #E8E8E8"><tbody><tr><td height="11">&nbsp;</td></tr></tbody></table>
<h2>Skyline</h2>
<a href="http://rxa.li/skyline?&amp;utm_source=MyMail+Welcome+Mail"><img src="http://static.revaxarts-themes.com/preview/skyline/preview.jpg" width="552"></a>
<table width="552" cellpadding="0" cellspacing="0"><tbody><tr><td height="12">&nbsp;</td></tr></tbody></table>
<table width="552" cellpadding="0" cellspacing="0" style="border-top:1px solid #E8E8E8"><tbody><tr><td height="11">&nbsp;</td></tr></tbody></table>
<h2>Letterpress</h2>
<a href="http://rxa.li/letterpress?&amp;utm_source=MyMail+Welcome+Mail"><img src="http://static.revaxarts-themes.com/preview/letterpress/preview.jpg" width="552"></a>
<table width="552" cellpadding="0" cellspacing="0"><tbody><tr><td height="12">&nbsp;</td></tr></tbody></table>
<table width="552" cellpadding="0" cellspacing="0" style="border-top:1px solid #E8E8E8"><tbody><tr><td height="11">&nbsp;</td></tr></tbody></table>
<h3><div>More Templates are coming!</h3>
<div><a href="http://themeforest.net/user/revaxarts/follow/">Follow me</a> on ThemeForest.net or on <a href="https://twitter.com/revaxarts">Twitter</a> for the latest updates</div>
<table width="552" cellpadding="0" cellspacing="0"><tbody><tr><td height="12">&nbsp;</td></tr></tbody></table>
<table width="552" cellpadding="0" cellspacing="0" style="border-top:1px solid #E8E8E8"><tbody><tr><td height="11">&nbsp;</td></tr></tbody></table>
